*.o
Makefile
*~
gui/impact
*.pro.user
DzhanibekovEffect/DzhanibekovEffect
DzhanibekovEffectMomentOfInertia/DzhanibekovEffectMomentOfInertia
stat/screenshots
moc*.cpp
ui*.h
DEG
*.out
DzhanibekovEffect/text
*.aux
*.bbl
*.blg
*.dvi
*.log
*.tcp
*.tps
